name: Registry push

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"
  pull_request:
    branches:
      - 'main'

concurrency:
  group: registry-push-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      can_push: ${{ steps.check_permission.outputs.can_push }}
    steps:
      - name: Check if can push
        id: check_permission
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            if [[ "${{ github.event.pull_request.head.repo.full_name }}" != "${{ github.repository }}" ]]; then
              echo "can_push=false" >> $GITHUB_OUTPUT
            else
              echo "can_push=true" >> $GITHUB_OUTPUT
            fi
          else
            echo "can_push=true" >> $GITHUB_OUTPUT
          fi

  runtime:
    runs-on: ubuntu-latest
    needs: [check]
    outputs:
      runtime_built: ${{ steps.set_output.outputs.runtime_built }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: 'true'

      - name: Fetch default branch
        run: git fetch origin main

      - name: Check if dependencies changed
        id: depcheck
        run: |
          if git diff --name-only origin/main | grep -E 'pyproject.toml|poetry.lock|runtime.Dockerfile'; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

      - name: Docker meta (runtime)
        if: steps.depcheck.outputs.changed == 'true'
        id: meta_runtime
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/import-ai/omnibox-wizard-runtime
          tags: |
            type=sha
            type=raw,value=latest

      - name: Set up QEMU
        if: steps.depcheck.outputs.changed == 'true'
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        if: steps.depcheck.outputs.changed == 'true'
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io Registry
        if: steps.depcheck.outputs.changed == 'true' && needs.check.outputs.can_push == 'true'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push runtime image
        if: steps.depcheck.outputs.changed == 'true'
        uses: docker/build-push-action@v6
        with:
          context: .
          file: runtime.Dockerfile
          push: ${{ needs.check.outputs.can_push == 'true' }}
          tags: ${{ steps.meta_runtime.outputs.tags }}
          labels: ${{ steps.meta_runtime.outputs.labels }}
          platforms: |
            linux/amd64
            linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Set output
        id: set_output
        run: echo "runtime_built=${{ steps.depcheck.outputs.changed }}" >> $GITHUB_OUTPUT

  app:
    runs-on: ubuntu-latest
    needs: [check, runtime]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: 'true'

      - name: Docker meta (app)
        id: meta_app
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/import-ai/omnibox-wizard
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io Registry
        if: needs.check.outputs.can_push == 'true'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push app image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: ${{ needs.check.outputs.can_push == 'true' }}
          tags: ${{ steps.meta_app.outputs.tags }}
          labels: ${{ steps.meta_app.outputs.labels }}
          platforms: |
            linux/amd64
            linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

  webhook:
    runs-on: ubuntu-latest
    needs: [check, app]
    if: needs.check.outputs.can_push == 'true'
    steps:
      - name: TEST push webhook
        if: github.event_name == 'push'
        run: |
          curl "${{ secrets.DEV_WEBHOOK_URL }}/test?module=wizard&pr=${{ github.ref_name }}&commit=${GITHUB_SHA}&tag=sha-${GITHUB_SHA::7}" -H "Authorization: Bearer ${{ secrets.DEV_WEBHOOK_API_KEY }}"

      - name: TEST pull request webhook
        if: github.event_name == 'pull_request'
        run: |
          curl "${{ secrets.DEV_WEBHOOK_URL }}/test?module=wizard&pr=pr-${{ github.event.number }}&commit=${{ github.event.pull_request.head.sha }}&tag=sha-${GITHUB_SHA::7}" -H "Authorization: Bearer ${{ secrets.DEV_WEBHOOK_API_KEY }}"
